.products-page {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;

  &__title {
    font-size: 22px;
  }

  &__select {
    width: 180px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &__table-wrapper {
    background-color: transparent;
  }

  &__list {
    min-width: 1400px; 
    padding: 10px;
  }
}