.app-wrapper {
  height: 100vh;
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-main-content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 60px); 
}

.app-page-view {
  flex-grow: 1;
  padding: 1.5rem; 
  overflow: auto;
}
